﻿@model MyAbilityFirst.Domain.RatingViewModel
<link href="~/Content/bootstrap-rating.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-rating/bootstrap-rating.min.js"></script>
@{
	ViewBag.Title = "Rating";
}
<div class="navbar-myaccount-left">
	@Html.Action("_MyAccountSidebar", "MyAccount")
</div>

<div class="main-content-wrapper">
	<div class="row">
		<div class="col-md-12">
			@using (Html.BeginForm("Rating", "Client", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
			{
			@Html.AntiForgeryToken()
				@Html.ValidationSummary(true, "", new { @class = "text-danger" })
				@Html.HiddenFor(model => model.BookingID)

				<h2>Rating</h2>
				<hr />
				<div class="form-group">
					<div class="col-md-2 control-label"></div>
					<div class="col-md-10">
						<span style="color:green">
							<span style="font-size:medium"><b>Guideline</b> </span><br />
							1 Star: Totally dissatisfied, would not use this Care Worker ever again<br />
							2 Star: Somewhat dissatisfied, unlikely to use this Care Worker again<br />
							3 Star: Neither satisfied or dissatisfied, likely to use this Care Worker again<br />
							4 Star: Satisfied, would use this Care Worker again<br />
							5 Star: Total Satisfied, would definitely use this Care Worker again<br />
						</span>
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(model => model.OverallScore, new { @class = "col-md-2 control-label" })
					<div class="col-md-10">
						<span class="field-validation-valid" style="font-size:x-large; color:orange; cursor:pointer">
							@Html.BootstrapRating(model => model.OverallScore)
						</span>
						@Html.ValidationMessageFor(model => model.OverallScore, "", new { @class = "text-danger", @id = "OverallScoreValidation", @required = true })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Comments, new { @class = "col-md-2 control-label" })
					<div class="col-md-10">
						@Html.TextAreaFor(model => model.Comments, new { @class = "form-control", @rows = "4" })
						@Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
					</div>
				</div>
				<hr />

				<div class="form-group">
					@Html.LabelFor(model => model.PunctualityScore, new { @class = "col-md-9 control-label" })
					<div class="col-md-3">
						<span style="font-size:x-large; color:orange; cursor:pointer">
							@Html.BootstrapRating(model => model.PunctualityScore)
						</span>
						@Html.ValidationMessageFor(model => model.PunctualityScore, "", new { @class = "text-danger", @id = "PunctualityScoreValidation", @required = true })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.CommunicationScore, new { @class = "col-md-9 control-label" })
					<div class="col-md-3">
						<span style="font-size:x-large; color:orange; cursor:pointer">
							@Html.BootstrapRating(model => model.CommunicationScore)
						</span>
						@Html.ValidationMessageFor(model => model.CommunicationScore, "", new { @class = "text-danger", @id = "CommunicationScoreValidation", @required = true })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(model => model.ServiceQualityScore, new { @class = "col-md-9 control-label" })
					<div class="col-md-3">
						<span style="font-size:x-large; color:orange; cursor:pointer">
							@Html.BootstrapRating(model => model.ServiceQualityScore)
						</span>
						@Html.ValidationMessageFor(model => model.ServiceQualityScore, "", new { @class = "text-danger", @id = "ServiceQualityScoreValidation", @required = true })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.SatisfactionCheckingScore, new { @class = "col-md-9 control-label" })
					<div class="col-md-3">
						<span style="font-size:x-large; color:orange; cursor:pointer">
							@Html.BootstrapRating(model => model.SatisfactionCheckingScore)
						</span>
						@Html.ValidationMessageFor(model => model.SatisfactionCheckingScore, "", new { @class = "text-danger", @id = "SatisfactionCheckingScoreValidation", @required = true })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.ResponsivenessScore, new { @class = "col-md-9 control-label" })
					<div class="col-md-3">
						<span style="font-size:x-large; color:orange; cursor:pointer">
							@Html.BootstrapRating(model => model.ResponsivenessScore)
						</span>
						@Html.ValidationMessageFor(model => model.ResponsivenessScore, "", new { @class = "text-danger", @id = "ResponsivenessScoreValidation", @required = true })
					</div>
				</div>

					<div class="form-group">
						@Html.LabelFor(model => model.FollowUpScore, new { @class = "col-md-9 control-label" })
						<div class="col-md-3">
							<span style="font-size:x-large; color:orange; cursor:pointer">
								@Html.BootstrapRating(model => model.FollowUpScore)
							</span>
							@Html.ValidationMessageFor(model => model.FollowUpScore, "", new { @class = "text-danger", @id = "FollowUpScoreValidation", @required = true })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.FutureRecommendationScore, new { @class = "col-md-9 control-label" })
						<div class="col-md-3">
							<span style="font-size:x-large; color:orange; cursor:pointer">
								@Html.BootstrapRating(model => model.FutureRecommendationScore)
							</span>
							@Html.ValidationMessageFor(model => model.FutureRecommendationScore, "", new { @class = "text-danger", @id = "FutureRecommendationScoreValidation", @required = true })
						</div>
					</div>
					<hr />

					<div class="form-group">
						<div class="col-sm-offset-5 col-md-7" style="padding-top:7px;">
							<input type="submit" value="Submit" class="btn btn-primary" />
						</div>
					</div>
			}
		</div>
	</div>
</div>


<script>
	$("form").submit(function (e) {
		var rated = true;
		e.preventDefault();
		$('.container').find('.rating').each(function () {
			var ratevalue = $(this).val();
			var name = $(this).attr('name');
			if (name != null && ratevalue == "") {
				$('#' + name + "Validation").html("Please rate this !");
				rated = false;

			}
			else {
				$('#' + name + "Validation").html("");
			}
		});
		if (rated)
			this.submit();
	});
</script>