﻿@model MyAbilityFirst.Domain.JobViewModel

@{
	ViewBag.Title = "Create";
}

<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script src="~/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
<script src="~/Scripts/jQuery.FileUpload/jquery.fileupload-ui.js"></script>
<script src="~/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>


<div class="navbar-myaccount-left">
	@Html.Action("_MyAccountSidebar", "MyAccount")
</div>

<div class="main-content-wrapper">
	<div class="row">
		<div class="col-md-12">
			<h1>New job</h1>
			<div class="card card-solid">
				@using (Html.BeginForm("Create", "Job", FormMethod.Post, new { enctype = "multipart/form-data" }))
				{
				@Html.AntiForgeryToken()

					<div class="form-horizontal">
						@Html.ValidationSummary(true, "", new { @class = "text-danger" })

						<div class="form-group">
							@Html.LabelFor(model => model.PatientId, new { @class = "control-label col-md-3" })
							<div class="col-md-9">
								@Html.DropDownListFor(model => model.PatientId, Model.PatientDropDownList, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.PatientId, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.Title, new { @class = "control-label col-md-3" })
							<div class="col-md-9">
								@Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.Description, new { @class = "control-label col-md-3" })
							<div class="col-md-9">
								@Html.TextAreaFor(model => model.Description, htmlAttributes: new { @class = "form-control", @Rows = 8 })
								@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-3" })
							<div class="col-md-9">
								@Html.EditorFor(model => model.Address)
							</div>
						</div>


						<div class="form-group">
							@Html.LabelFor(model => model.GenderId, new { @class = "control-label col-md-3" })
							<div class="col-md-9">
								@Html.DropDownListFor(model => model.GenderId, Model.GenderDropDownList, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.GenderId, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.ServiceId, new { @class = "control-label col-md-3" })
							<div class="col-md-9">
								@Html.DropDownListFor(model => model.ServiceId, Model.ServiceDropDownList, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.ServiceId, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.ServicedAt, new { @class = "control-label col-md-3" })
							<div class="col-md-9">
								<div class='input-group date datetimepicker'>
									@Html.EditorFor(model => model.ServicedAt, new { htmlAttributes = new { @class = "form-control", data_date_format = "DD MMM YYYY hh:mm A" } })
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
								@Html.ValidationMessageFor(model => model.ServicedAt, "", new { @class = "text-danger" })
							</div>
						</div>

						<!-- begin upload picture -->
						<div class="form-group">
							@Html.LabelFor(model => model.PictureURL, new { @class = "control-label col-md-3" })

							<div class="col-md-4">
								<input type="file" name="files" id="uploadPicture" accept="image/*" capture class="btn btn-default btn-sm" />
								<input id="uploadURL" value="@ViewBag.PathUpload" hidden="hidden" />
								<input id="deleteURL" value="@ViewBag.PathDelete" hidden="hidden" />
							</div>
							<div class="col-md-2">
								<div class="progress">
									<div id="uploadPictureBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
										<div class="sr-only">0% complete</div>
									</div>
								</div>
							</div>
							<div class="col-md-1">
								<img src="" id="pictureFileId" height="30" width="30" border="0">
								<br />
							</div>

							<div class="col-md-2">
								<input type="button" name="cancelUploadPicture" id="cancelUploadPicture" class="btn btn-default btn-sm" value="Cancel" disabled />
							</div>
							<div class="col-md-6" hidden="hidden">
								@Html.EditorFor(model => model.PictureURL, new { htmlAttributes = new { @class = "form-control", @id = "pictureRecord", @readonly = "readonly", @value = @ViewBag.pictureURL } })
								@Html.ValidationMessageFor(model => model.PictureURL, "", new { @class = "text-danger" })
							</div>

							<div class="col-md-offset-3 col-md-10">
								<span style="color:red">
									* Allowed upload file JPG / GIF / BMP / PNG only, Max. 5 MB
								</span>

							</div>
						</div>
						<!-- end of upload picture -->

						<hr>

						<div class="form-group">
							<div class="col-md-offset-3 col-md-9">
								<input type="submit" value="Post job" class="btn btn-primary" />
								@Html.ActionLink("Cancel", "Index", null, null, new { @class = "btn btn-default" })
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>