﻿@model MyAbilityFirst.Domain.RegisterViewModel
@{
	ViewBag.Title = "Register";
}

<h2>Create a new account</h2>
<div class="row">
	<div class="col-md-8">
		<div class="card card-solid">
			@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
			{
			@Html.AntiForgeryToken()
				@Html.ValidationSummary("", new { @class = "text-danger" })
				<div class="form-group">
					@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
					<div class="col-md-10">
						@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
					<div class="col-md-10">
						@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
					<div class="col-md-10">
						@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(m => m.UserType, new { @class = "col-md-2 control-label" })
					<div class="radio col-md-10">
						<label>
							<input type="radio" name="userType" value="Coordinator" checked="checked">Co-ordinator
						</label>
						&nbsp; &nbsp; &nbsp;
						<label>
							<input type="radio" name="userType" value="DomesticStaff">Domestic Staff
						</label>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<input type="submit" class="btn btn-primary" value="Register" />
					</div>
				</div>
			}
		</div>
	</div>
</div>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
