﻿@model MyAbilityFirst.Domain.ForgotPasswordViewModel
@{
	ViewBag.Title = "Forgot your password?";
}

<h4 class="page-header">
	@ViewBag.Title
</h4>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	@Html.AntiForgeryToken()
		@Html.ValidationSummary("", new { @class = "text-danger" })
		<div class="form-group">
			@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
			<div class="col-md-10">
				@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" class="btn btn-default" value="Email link" />
			</div>
		</div>
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
