﻿@model MyAbilityFirst.Domain.ReplacementViewModel
@{
	ViewBag.Title = "Replacement";
}
<style>
	.container-fluid {
		padding: 0px;
	}
</style>
<div class="container-fluid">
	<div class="navbar-left">
		@Html.Partial("_LeftSideMenu")
	</div>
	<div class="main-content-wrapper">
		<div class="row">
			<div class="col-md-12">
				@using (Html.BeginForm())
			{
			@Html.AntiForgeryToken()
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })
					@Html.HiddenFor(model => model.ID)
					@Html.HiddenFor(model => model.CommentByCareWorker)
					@Html.HiddenFor(model => model.BookingID)
					@Html.HiddenFor(model => model.CareWorkerID)
					@Html.HiddenFor(model => model.CreatedAt)
					<h2>Replace Care Worker</h2>

					<div class="card card-solid form-horizontal">

						<div class="form-group">
							@Html.LabelFor(model => model.BookingID, htmlAttributes: new { @class = "control-label col-md-3" })
							<div class="col-md-9">
								<h5>
									<span class="label label-info">
										#	@Html.DisplayFor(model => model.BookingID, new { htmlAttributes = new { @class = "form-control" } })
									</span>
								</h5>
							</div>
						</div>

						<hr>
						<div class="form-group">
							@Html.LabelFor(model => model.ReplacedCareWorkerID, htmlAttributes: new { @class = "control-label col-md-3" })
							<div class="col-md-9">
								@Html.DropDownListFor(model => model.ReplacedCareWorkerID, Model.Shortlist, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.ReplacedCareWorkerID, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.CommentByCoordinator, htmlAttributes: new { @class = "control-label col-md-3" })
							<div class="col-md-9">
								@Html.TextAreaFor(model => model.CommentByCoordinator, new { @class = "form-control", @rows = "6", @placeholder = "Write comment here ..", @required = "required" })
								@Html.ValidationMessageFor(model => model.CommentByCoordinator, "", new { @class = "text-danger" })
							</div>
						</div>

						<hr />
						<div>
							<input type="submit" value="Save" class="btn btn-primary" />
							@Html.ActionLink("Cancel", "Replacements", "Coordinator", null, new { @class = "btn btn-default" })
						</div>
					</div>
			}
			</div>
		</div>
	</div>
</div>
