@model MyAbilityFirst.Domain.SearchViewModel

	@if (Model.SearchResults != null)
	{
			for (int i = 0; i < Model.SearchResults.Count; i++)
			{
				<div class="col-md-1">
					<img src=@Model.SearchResults[i].PictureURL class="media-object img-circle" alt="Sample Image" style="width:40px" title="see profile">
				</div>
				<div class="col-md-7 col-sm-offset-1" name="SearchResults[@(i)].Html">
					<p class="search-results-p">@Html.ActionLink(Model.SearchResults[i].FirstName + " " + Model.SearchResults[i].LastName, "PublicProfile", "Profile", new { id = Model.SearchResults[i].CareWorkerID }, htmlAttributes: new { name = "SearchResults[" + i.ToString() + "].Name" })</p>
					@if (Model.SearchResults[i].DistanceFromSearchInKm != null)
					{
						<p class="search-results-p">@Html.ActionLink(Math.Round((Double)Model.SearchResults[i].DistanceFromSearchInKm, 2) + "KM away", "PublicProfile", "Profile", new { id = Model.SearchResults[i].CareWorkerID }, htmlAttributes: new { name = "SearchResults[" + i.ToString() + "].Name" })</p>
					}
					<p class="search-results-p">@Html.DisplayFor(model => Model.SearchResults[i].Description)</p>

					<span title="Overall rating: @(Model.SearchResults[i].AverageRating)">
						@for (int j = 0; j < Math.Truncate(Model.SearchResults[i].AverageRating); j++)
						{
							<span class="fa fa-star search-rating-star"></span>
						}
						@if (Model.SearchResults[i].AverageRating - Math.Truncate(Model.SearchResults[i].AverageRating) > 0)
						{
							<span class="fa fa-star-o search-rating-star" style="position:relative; z-index: 1;">
								<i class="fa fa-star search-rating-star" style="position: absolute; top: 0px; left: 0px; z-index: 1000; clip-path: polygon(0% 0%, @((Model.SearchResults[i].AverageRating - Math.Truncate(Model.SearchResults[i].AverageRating))*100)% 0%, @((Model.SearchResults[i].AverageRating - Math.Truncate(Model.SearchResults[i].AverageRating))*100)% 100%, 0% 100%);"></i>
							</span>
						}
						@for (int j = 0; j < (Model.SearchResults[i].AverageRating - Math.Truncate(Model.SearchResults[i].AverageRating) > 0 ? 4 : 5) - Math.Truncate(Model.SearchResults[i].AverageRating); j++)
						{
							<span class="fa fa-star-o search-rating-star"></span>
						}
					</span>
				</div>

				<div class="col-md-1">
					@Html.Partial("ShortlistButton", new Cenozoic.Models.ShortlistViewModel { SelectedUserID = Model.SearchResults[i].CareWorkerID, Selected = Model.SearchResults[i].Shortlisted ?? false })
				</div>
				<div class="col-md-12">
					<hr class="search-separator-hr">
				</div>
				@Html.HiddenFor(SearchResults => Model.SearchResults[i].Longitude)
				@Html.HiddenFor(SearchResults => Model.SearchResults[i].Latitude)
		}
	}