﻿@using MvcCheckBoxList.Model
@model MyAbilityFirst.Domain.SearchViewModel

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })

	<div class="navbar-myaccount-left">
		@Html.Action("_MyAccountSidebar", "MyAccount")
	</div>

	<div class="search-map-container">

		<div id="searchmap" class="form-group"></div>

		<div class="filters-container">

			<div class="category-tabs col-md-12" data-toggle="collapse" data-target="#all-filters" aria-hidden="true">
				<i class="fa fa-sliders search-filter-icon" aria-hidden="true"></i><label> Filters</label> <i class="fa fa-angle-up pull-right search-filter-icon" aria-hidden="true"></i>
			</div>
			<hr class="search-category-separator-hr">

			<div class="collapse in" id="all-filters">

				<div class="col-md-12 category-tag-container">
					<input class="category-tag-area" type="text" value="" data-role="tagsinput" />
				</div>

				<div class="category-tabs col-md-12" data-toggle="collapse" data-target="#gender-filters" aria-hidden="true">
					<label>@Model.GenderLabel</label> <i class="fa fa-angle-down pull-right search-filter-icon" aria-hidden="true"></i>
				</div>
				<hr class="search-category-separator-hr">
				<div class="collapse" id="gender-filters">
					@{ var htmlListInfoForGender = new HtmlListInfo(HtmlTag.table, 1, new
						{
							@class = "checkBoxListStyle",
							@style = "display: inline;",
							@label = @Model.GenderLabel
						}, TextLayout.Default, TemplateIsUsed.No);}
					@Html.CheckBoxListFor(
					model => model.PostedSubcategoryIDs,
					model => model.GenderList,
					item => item.ID,
					item => item.Name,
					model => model.PreviousGenderList,
					htmlListInfoForGender)
				</div>

				<div class="category-tabs col-md-12" data-toggle="collapse" data-target="#backgroundchecks-filters" aria-hidden="true">
					<label>@Model.VerificationChecksLabel</label> <i class="fa fa-angle-down pull-right search-filter-icon" aria-hidden="true"></i>
				</div>
				<hr class="search-category-separator-hr">
				<div class="collapse" id="backgroundchecks-filters">
					@{ var htmlListInfoForVerificationChecks = new HtmlListInfo(HtmlTag.table, 1, new
						{
							@class = "checkBoxListStyle",
							@style = "display: inline;",
							@label = @Model.VerificationChecksLabel
						}, TextLayout.Default, TemplateIsUsed.No);}
					@Html.CheckBoxListFor(
					model => model.PostedSubcategoryIDs,
					model => model.VerificationChecksList,
					item => item.ID,
					item => item.Name,
					model => model.PreviousVerificationChecksList,
					htmlListInfoForVerificationChecks)
				</div>

				<div class="category-tabs col-md-12" data-toggle="collapse" data-target="#other-filters" aria-hidden="true">
					<label>@Model.OtherPreferenceLabel</label> <i class="fa fa-angle-down pull-right search-filter-icon" aria-hidden="true"></i>
				</div>
				<hr class="search-category-separator-hr">
				<div class="collapse" id="other-filters">
					@{ var htmlListInfoForOtherPreference = new HtmlListInfo(HtmlTag.table, 1, new
						{
							@class = "checkBoxListStyle",
							@style = "display: inline;",
							@label = @Model.OtherPreferenceLabel
						}, TextLayout.Default, TemplateIsUsed.No);}
					@Html.CheckBoxListFor(
					model => model.PostedSubcategoryIDs,
					model => model.OtherPreferenceList,
					item => item.ID,
					item => item.Name,
					model => model.PreviousOtherPreferenceList,
					htmlListInfoForOtherPreference)
				</div>

				<div class="category-tabs col-md-12" data-toggle="collapse" data-target="#nursing-filters" aria-hidden="true">
					<label>@Model.NursingQualificationsLabel</label> <i class="fa fa-angle-down pull-right search-filter-icon" aria-hidden="true"></i>
				</div>
				<hr class="search-category-separator-hr">
				<div class="collapse" id="nursing-filters">
					@{ var htmlListInfoForNursing = new HtmlListInfo(HtmlTag.table, 1, new
						{
							@class = "checkBoxListStyle",
							@style = "display: inline;",
							@label = @Model.NursingQualificationsLabel
						}, TextLayout.Default, TemplateIsUsed.No);}
					@Html.CheckBoxListFor(
					model => model.PostedSubcategoryIDs,
					model => model.NursingQualificationsList,
					item => item.ID,
					item => item.Name,
					model => model.PreviousNursingQualificationsList,
					htmlListInfoForNursing)
				</div>

				<div class="category-tabs col-md-12" data-toggle="collapse" data-target="#personalcare-filters" aria-hidden="true">
					<label>@Model.PersonalCareQualificationsLabel</label> <i class="fa fa-angle-down pull-right search-filter-icon" aria-hidden="true"></i>
				</div>
				<hr class="search-category-separator-hr">
				<div class="collapse" id="personalcare-filters">
					@{ var htmlListInfoForPersonalCare = new HtmlListInfo(HtmlTag.table, 1, new
						{
							@class = "checkBoxListStyle",
							@style = "display: inline;",
							@label = @Model.PersonalCareQualificationsLabel
						}, TextLayout.Default, TemplateIsUsed.No);}
					@Html.CheckBoxListFor(
					model => model.PostedSubcategoryIDs,
					model => model.PersonalCareQualificationsList,
					item => item.ID,
					item => item.Name,
					model => model.PreviousPersonalCareQualificationsList,
					htmlListInfoForPersonalCare)
				</div>

				<div class="category-tabs col-md-12" data-toggle="collapse" data-target="#socialdomestic-filters" aria-hidden="true">
					<label>@Model.OtherQualificationsLabel</label> <i class="fa fa-angle-down pull-right search-filter-icon" aria-hidden="true"></i>
				</div>
				<hr class="search-category-separator-hr">
				<div class="collapse" id="socialdomestic-filters">
					@{ var htmlListInfoForOtherQualifications = new HtmlListInfo(HtmlTag.table, 1, new
						{
							@class = "checkBoxListStyle",
							@style = "display: inline;",
							@label = @Model.OtherQualificationsLabel
						}, TextLayout.Default, TemplateIsUsed.No);}
					@Html.CheckBoxListFor(
					model => model.PostedSubcategoryIDs,
					model => model.OtherQualificationsList,
					item => item.ID,
					item => item.Name,
					model => model.PreviousOtherQualificationsList,
					htmlListInfoForOtherQualifications)
				</div>

				<div class="category-tabs col-md-12" data-toggle="collapse" data-target="#disabilitycare-filters" aria-hidden="true">
					<label>@Model.DisabilityCareExperienceLabel</label> <i class="fa fa-angle-down pull-right search-filter-icon" aria-hidden="true"></i>
				</div>
				<hr class="search-category-separator-hr">
				<div class="collapse" id="disabilitycare-filters">
					@{ var htmlListInfoForDisabilityCare = new HtmlListInfo(HtmlTag.table, 1, new
						{
							@class = "checkBoxListStyle",
							@style = "display: inline;",
							@label = @Model.DisabilityCareExperienceLabel
						}, TextLayout.Default, TemplateIsUsed.No);}
					@Html.CheckBoxListFor(
					model => model.PostedSubcategoryIDs,
					model => model.DisabilityCareExperienceList,
					item => item.ID,
					item => item.Name,
					model => model.PreviousDisabilityCareExperienceList,
					htmlListInfoForDisabilityCare)
				</div>

				<div class="category-tabs col-md-12" data-toggle="collapse" data-target="#mentalhealth-filters" aria-hidden="true">
					<label>@Model.MentalHealthCareExperienceLabel</label> <i class="fa fa-angle-down pull-right search-filter-icon" aria-hidden="true"></i>
				</div>
				<hr class="search-category-separator-hr">
				<div class="collapse" id="mentalhealth-filters">
					@{ var htmlListInfoForMentalHealth = new HtmlListInfo(HtmlTag.table, 1, new
						{
							@class = "checkBoxListStyle",
							@style = "display: inline;",
							@label = @Model.MentalHealthCareExperienceLabel
						}, TextLayout.Default, TemplateIsUsed.No);}
					@Html.CheckBoxListFor(
					model => model.PostedSubcategoryIDs,
					model => model.MentalHealthCareExperienceList,
					item => item.ID,
					item => item.Name,
					model => model.PreviousMentalHealthCareExperienceList,
					htmlListInfoForMentalHealth)
				</div>

				<div class="category-tabs col-md-12" data-toggle="collapse" data-target="#agedcare-filters" aria-hidden="true">
					<label>@Model.AgedCareExperienceLabel</label> <i class="fa fa-angle-down pull-right search-filter-icon" aria-hidden="true"></i>
				</div>
				<hr class="search-category-separator-hr">
				<div class="collapse" id="agedcare-filters">
					@{ var htmlListInfoForAgedCare = new HtmlListInfo(HtmlTag.table, 1, new
						{
							@class = "checkBoxListStyle",
							@style = "display: inline;",
							@label = @Model.AgedCareExperienceLabel
						}, TextLayout.Default, TemplateIsUsed.No);}
					@Html.CheckBoxListFor(
					model => model.PostedSubcategoryIDs,
					model => model.AgedCareExperienceList,
					item => item.ID,
					item => item.Name,
					model => model.PreviousAgedCareExperienceList,
					htmlListInfoForAgedCare)
				</div>

				<div class="category-tabs col-md-12" data-toggle="collapse" data-target="#chronicconditions-filters" aria-hidden="true">
					<label>@Model.ChronicMedicalConditionsCareExperienceLabel</label> <i class="fa fa-angle-down pull-right search-filter-icon" aria-hidden="true"></i>
				</div>
				<hr class="search-category-separator-hr">
				<div class="collapse" id="chronicconditions-filters">
					@{ var htmlListInfoForChronicConditions = new HtmlListInfo(HtmlTag.table, 1, new
						{
							@class = "checkBoxListStyle",
							@style = "display: inline;",
							@label = @Model.ChronicMedicalConditionsCareExperienceLabel
						}, TextLayout.Default, TemplateIsUsed.No);}
					@Html.CheckBoxListFor(
					model => model.PostedSubcategoryIDs,
					model => model.ChronicMedicalConditionsCareExperienceList,
					item => item.ID,
					item => item.Name,
					model => model.PreviousChronicMedicalConditionsCareExperienceList,
					htmlListInfoForChronicConditions)
				</div>

				<div class="category-tabs col-md-12" data-toggle="collapse" data-target="#language-filters" aria-hidden="true">
					<label>@Model.LanguageLabel</label> <i class="fa fa-angle-down pull-right search-filter-icon" aria-hidden="true"></i>
				</div>
				<hr class="search-category-separator-hr">
				<div class="collapse" id="language-filters">
					@{ var htmlListInfoForLanguage = new HtmlListInfo(HtmlTag.table, 1, new
						{
							@class = "checkBoxListStyle",
							@style = "display: inline;",
							@label = @Model.LanguageLabel
						}, TextLayout.Default, TemplateIsUsed.No);}
					@Html.CheckBoxListFor(
					model => model.PostedSubcategoryIDs,
					model => model.LanguageList,
					item => item.ID,
					item => item.Name,
					model => model.PreviousLanguageList,
					htmlListInfoForLanguage)
				</div>

				<div class="category-tabs col-md-12" data-toggle="collapse" data-target="#culture-filters" aria-hidden="true">
					<label>@Model.CultureLabel</label> <i class="fa fa-angle-down pull-right search-filter-icon" aria-hidden="true"></i>
				</div>
				<hr class="search-category-separator-hr">
				<div class="collapse" id="culture-filters">
					@{ var htmlListInfoForCulture = new HtmlListInfo(HtmlTag.table, 1, new
						{
							@class = "checkBoxListStyle",
							@style = "display: inline;",
							@label = @Model.CultureLabel
						}, TextLayout.Default, TemplateIsUsed.No);}
					@Html.CheckBoxListFor(
					model => model.PostedSubcategoryIDs,
					model => model.CultureList,
					item => item.ID,
					item => item.Name,
					model => model.PreviousCultureList,
					htmlListInfoForCulture)
				</div>
				
				<div class="category-tabs col-md-12" data-toggle="collapse" data-target="#religion-filters" aria-hidden="true">
					<label>@Model.ReligionLabel</label> <i class="fa fa-angle-down pull-right search-filter-icon" aria-hidden="true"></i>
				</div>
				<hr class="search-category-separator-hr">
				<div class="collapse" id="religion-filters">
					@{ var htmlListInfoForReligion = new HtmlListInfo(HtmlTag.table, 1, new
						{
							@class = "checkBoxListStyle",
							@style = "display: inline;",
							@label = @Model.ReligionLabel
						}, TextLayout.Default, TemplateIsUsed.No);}
					@Html.CheckBoxListFor(
					model => model.PostedSubcategoryIDs,
					model => model.ReligionList,
					item => item.ID,
					item => item.Name,
					model => model.PreviousReligionList,
					htmlListInfoForReligion)
				</div>
				
				<div class="category-tabs col-md-12" data-toggle="collapse" data-target="#interest-filters" aria-hidden="true">
					<label>@Model.InterestLabel</label> <i class="fa fa-angle-down pull-right search-filter-icon" aria-hidden="true"></i>
				</div>
				<hr class="search-category-separator-hr">
				<div class="collapse" id="interest-filters">
					@{ var htmlListInfoForInterest = new HtmlListInfo(HtmlTag.table, 1, new
						{
							@class = "checkBoxListStyle",
							@style = "display: inline;",
							@label = @Model.InterestLabel
						}, TextLayout.Default, TemplateIsUsed.No);}
					@Html.CheckBoxListFor(
					model => model.PostedSubcategoryIDs,
					model => model.InterestList,
					item => item.ID,
					item => item.Name,
					model => model.PreviousInterestList,
					htmlListInfoForInterest)
				</div>

				<div class="category-tabs col-md-12" data-toggle="collapse" data-target="#personality-filters" aria-hidden="true">
					<label>@Model.PersonalityLabel</label> <i class="fa fa-angle-down pull-right search-filter-icon" aria-hidden="true"></i>
				</div>
				<hr class="search-category-separator-hr">
				<div class="collapse" id="personality-filters">
					@{ var htmlListInfoForPersonality = new HtmlListInfo(HtmlTag.table, 1, new
						{
							@class = "checkBoxListStyle",
							@style = "display: inline;",
							@label = @Model.PersonalityLabel
						}, TextLayout.Default, TemplateIsUsed.No);}
					@Html.CheckBoxListFor(
					model => model.PostedSubcategoryIDs,
					model => model.PersonalityList,
					item => item.ID,
					item => item.Name,
					model => model.PreviousPersonalityList,
					htmlListInfoForPersonality)
				</div>

			</div>

			<div><input type="checkbox" name="updatesearchwhenmapmove" checked> Update results when map moves</div>

		</div>

	</div>

	<div class="search-results-container">

		<div class="search-results-header">
			<div class="col-md-12">
				<p class="search-match-count-p">
				 <i class="fa fa-search search-filter-icon" aria-hidden="true"></i> @(Model.SearchResults != null ? @Model.SearchResults.TotalItemCount : 0) Matches
				</p>
				<hr class="search-separator-hr">
			</div>

			<div class="col-md-12">
				<p class="search-results-p"> Sort By </p>
				<div id="SortOption" class="btn-group" data-toggle="buttons">
					<label class="btn btn-primary active" data-sortvalue="@((int)MyAbilityFirst.Domain.SortOption.Closest)">
						<input type="radio" @((Model.SortOption == MyAbilityFirst.Domain.SortOption.Closest) ? "checked" : "")> Distance
					</label>
					<label class="btn btn-primary" data-sortvalue="@((int)MyAbilityFirst.Domain.SortOption.Rating)">
						<input type="radio" @((Model.SortOption == MyAbilityFirst.Domain.SortOption.Rating) ? "checked" : "")> Carers Rating
					</label>
				</div>
			</div>
		</div>

		<div id="search-results-content"></div>

	</div>
}
