﻿@model MyAbilityFirst.Domain.PatientAttachmentViewModel

@{
	ViewBag.Title = "EditProfile";
}

<style>
	label {
		width: 650px;
	}
	input[type=checkbox] {
		margin: 10px;
	}
</style>

<script src="~/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
<script src="~/Scripts/jQuery.FileUpload/jquery.fileupload-ui.js"></script>
<script src="~/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>


<div class="navbar-myaccount-left">
	@Html.Action("_MyAccountSidebar", "MyAccount")
</div>

<script src="~/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
<script src="~/Scripts/jQuery.FileUpload/jquery.fileupload-ui.js"></script>
<script src="~/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>



<div class="main-content-wrapper">
	<div class="row">
		<div class="col-md-12">

			@using (Html.BeginForm())
			{
			@Html.AntiForgeryToken()

				<h1>Patient documents</h1>

				<div class="card card-solid form-horizontal">

						@Html.ValidationSummary(true, "", new { @class = "text-danger" })
						@Html.HiddenFor(model => model.PatientID)
						@Html.HiddenFor(model => model.ClientID)
						<input id="userId" value="@Model.PatientID" hidden="hidden" />
						<input id="uploadURL" value="@ViewBag.PathUpload" hidden="hidden" />
						<input id="deleteURL" value="@ViewBag.PathDelete" hidden="hidden" />

							@foreach (var attachmentType in Model.AttachmentList)
							{
								var itemTypeId = (int) attachmentType;
								var attachment = Model.PreviousAttachmentList.Where(a => (int)a.Type == itemTypeId).FirstOrDefault();
								var hasAttachment = attachment != null && !string.IsNullOrWhiteSpace(attachment.URL);

						<div class="form-group">
							<label class="control-label col-md-3"><b>@attachmentType.ToString()</b></label>
                            <div class="col-md-4">
									<div class="preview-panel@(itemTypeId)" style="display:@(hasAttachment? "block" : "none")">
										<a class="btn btn-default btn-sm" href="@(hasAttachment? attachment.URL : "#")" role="button" target="_blank"
											 id="preview@(itemTypeId)">Preview</a>
										<button class="btn btn-default btn-sm" type="button" id="cancelUpload@(itemTypeId)">Remove</button>
									</div>

									<div class="upload-panel@(itemTypeId)" style="display:@(hasAttachment? "none" : "block")">
										<input type="file" name="files[]"
													 id="file@(itemTypeId)"
                                           class='fileupload btn btn-default btn-sm form-control'
													 accept='image/*,.doc,.docx,.xlsx,.xls,.pdf'
													 capture />
                                    <div class='progress' id="progress@(itemTypeId)" style="margin:0px;">
											<div id="bar@(itemTypeId)" class='progress-bar' role='progressbar'
													 aria-valuenow='0' aria-valuemin='0' aria-valuemax='100' style='width:0%;'>
												<div style='font-size: 10px;' class='sr-only'>0% complete</div>
											</div>
										</div>
									</div>
                            </div>
								</div>
							}

                    <hr />
                   
				</div>
			}

		</div>
	</div>
</div>