﻿@model MyAbilityFirst.Domain.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="navbar-myaccount-left">
    @Html.Action("_MyAccountSidebar", "MyAccount")
</div>

<div class="main-content-wrapper">
    <div class="row">
        <div class="col-md-12">
            <h1>
	@ViewBag.Title
</h1>

            <div class="card card-solid">
@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
                        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <input type="submit" value="Change password" class="btn btn-primary" />
        </div>
    </div>
}
            </div>
        </div>
    </div>
</div>


