﻿@{
	ViewBag.Title = "Bad Request";
	ViewBag.Description = "Your browser sent a request that this server could not understand.";
}

<div class="jumbotron text-center">
	<header>
		<h1><span aria-hidden="true" class="fa fa-exclamation-circle text-danger"></span> @ViewBag.Title</h1>
	</header>

	<p>@ViewBag.Description</p>
	<a class="btn btn-primary btn-lg" href="@Url.RouteUrl(HomeControllerRoute.GetIndex)"><span aria-hidden="true" class="fa fa-home"></span> Take me home</a>
</div>