﻿sup {
  vertical-align: sub;
  position: relative;
  top: -0.4em;
}

@-webkit-keyframes flashHighlight {
  0%   { background-color: lightgreen; }
	25%  { background-color: transparent; }
  50%  { background-color: lightgreen; }
	75%  { background-color: transparent; }
  100% { background-color: lightgreen; }
}
@-moz-keyframes flashHighlight {
  0%   { background-color: lightgreen; }
	25%  { background-color: transparent; }
  50%  { background-color: lightgreen; }
	75%  { background-color: transparent; }
  100% { background-color: lightgreen; }
}
@-o-keyframes flashHighlight {
  0%   { background-color: lightgreen; }
	25%  { background-color: transparent; }
  50%  { background-color: lightgreen; }
	75%  { background-color: transparent; }
  100% { background-color: lightgreen; }
}
@keyframes flashHighlight {
  0%   { background-color: lightgreen; }
	25%  { background-color: transparent; }
  50%  { background-color: lightgreen; }
	75%  { background-color: transparent; }
  100% { background-color: lightgreen; }
}

.new-message-hightlight{    
  -webkit-animation: flashHighlight 2s ease-out; 
      -moz-animation: flashHighlight 2s ease-out; 
        -o-animation: flashHighlight 2s ease-out; 
          animation: flashHighlight 2s ease-out;
	animation-fill-mode: forwards;
}

.chatcontainer {
	height: 600px;
	width: 350px;
	overflow-y: hidden;
	overflow-x: hidden;
	position: relative;
	background-color: lightgrey;
}

#draggable { 
	z-index: 4000;
	padding: 0em;
}

.chattitle {
	height: 50px;
	width: 100%;
	text-align: left;
  font-size: large;
	padding: 10px;
	background-color: transparent;
}

.chatmenuicon {
	background-color: white;
	padding: 5px;
	float: right;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}

.chatcontent {
  height: 540px;
	width: 350px;
	overflow-y: hidden;
	overflow-x: hidden;
	position: relative;
	background-color: lightgrey;
}

.chatmessages {
  height: 85%;
	width: 100%;
	bottom: 15%;
	position: absolute;
	overflow-y: scroll;
	overflow-x: hidden;
	word-wrap: break-word;
	background-color: white;
}

.chattypingnotification {
	height: 5%;
	width: 100%;
	position: absolute;
	bottom: 10%;
	padding: 1.5%;
  font-size: small;
	background-color: white;
}

.chatbar {
	padding: 5%;
	height: 10%;
	width: 100%;
	position: absolute;
	bottom: 0px;
  font-size: large;
}

.talk-bubble {
	margin: 2px;
  display: inline-block;
  position: relative;
	left: 20px;
	width: 70%;
	height: auto;
	background-color: lightsteelblue;
}

.round{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}

.tri-right.right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 50%;
	bottom: auto;
	border: 12px solid;
	border-color: lightsteelblue transparent transparent lightsteelblue;
}

.tri-left.left-in:after{
	content: ' ';
	position: absolute;
	width: 0px;
	height: 0px;
  left: -20px;
	right: auto;
  top: 50%;
	bottom: auto;
	border: 12px solid;
	border-color: lightsteelblue lightsteelblue transparent transparent;
}

.leftchatprofilepic {
	width: 50px;
	height: 50px;
	left: -5px;
	bottom: 50px;
	position: relative;
}

.rightchatprofilepic {
	width: 50px;
	height: 50px;
	left: 45px;
	bottom: 50px;
	position: relative;
}

/* talk bubble contents */
.talktext{
  padding: 15px;
	text-align: left;
  line-height: 1.5em;
	font-size: x-large;
}

.notificationgrayout {
	opacity: 0.6; /* Real browsers */
	/*filter: alpha(opacity = 60); /* MSIE */
}

.dropdown-menu.notification {
	background-color: white;
	width: 220px;
	padding: 4px;
}

.notificationcontainer {
	width: 210px;
	padding: 3px;
	height: 50px;
  border-style: solid;
  border-width: 1px;
}

.notificationbody {
	width: 160px;
	padding: 10px;
	height: 50px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	float: left;
}

.notificationclose {
	background-color: lightsteelblue;
	padding: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	float: right;
	border-style: solid;
  border-width: 3px;
}