﻿html, body {
	height: 100%;
}

.search-map-container {
  overflow:hidden;
  position:absolute;
	left: 250px;
	right: 250px;
	bottom: 0px;
	top: 50px;
}

#searchmap {
	height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.search-results-container {
	overflow:hidden;
  position:absolute;
	width: 250px; 
	right: 0px;
	bottom: 0px;
	top: 50px;
}

.search-results-header {
	height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

#search-results-content {
	position: absolute; 
	top: 150px; 
	right: 0px; 
	bottom: 0px;
	z-index: 99;
	background-color: white;
	opacity: 1;
	width: 250px; 
	max-height: 600px;
	overflow-y: auto;
	overflow-x: hidden;
	
}

.search-results-p {
	margin: 0px; 
	padding: 0px;
}
.search-match-count-p {
	margin-top: 15px;
	margin-bottom: 0px;
	padding: 0px;
	font-size: 20px;
}

.search-separator-hr {
	align-content: center;
	width: 95%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.search-filter-icon {
	color: darkseagreen;
	margin: 5px;
	right: 10px;
}

.shortlist-container {
	height: 100%;
	vertical-align: central;
}

.filters-container {
	position: absolute; 
	top: 20px; 
	left: 20px; 
	z-index: 99;
	background-color: white;
	opacity: 1;
	max-width: 250px;
	min-width: 250px;
	max-height: 650px;
	border-radius: 3px;
	box-shadow: 2px 2px 2px lightgrey;
	overflow-y: auto;
	overflow-x: hidden;
}

.category-tag-container {
	background-color: lightgrey;
	width: 100%;
	height: 0%;
}

.category-tabs {
	padding: 2px;
	margin: 2px;
}

.search-bar-container {
  position:absolute;
	left: 270px;
	right: 260px;
	top: 7px;
}

.search-bar-container input {
  min-width: 250px;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.search-bar-container input { text-indent: 20px;}
.search-bar-container .fa-search { 
  position: absolute;
	left: 10px;
	top: 8px;
	z-index: 10000;
}

.search-rating-star {
	color: #9CCD5A;
}

.search-category-separator-hr {
	align-content: center;
	width: 100%;
	margin-top: 1px;
	margin-bottom: 0px;
}