﻿html {
  height: 100%;
}
body {
  background: #f8f8f8;
  height: 100%;
  padding-top: 70px;
}
/* Set padding to keep content from hitting the edges. */
.body-content {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 65px;
  height: 100%;
  height: auto !important;
  min-height: 100%;
}
/* Allow only vertical resizing of textareas. */
textarea {
  resize: vertical;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #328cc1;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
hr {
  border-color: #d2d2d2;
}
footer {
  position: relative;
  background: #222222;
  color: #ffffff;
  width: 100%;
  padding: 8px;
  margin-top: -36px;
  z-index: 2;
}
.navbar-main {
  background-color: #0b3c5d;
}
.navbar-main .navbar-brand {
  color: #cda34F;
}
.navbar-main .navbar-nav li a {
  color: #ffffff;
}
.navbar-main .navbar-nav li .dropdown-menu {
  background: #f2f2f2;
}
.navbar-main .navbar-nav li .dropdown-menu li a {
  color: #0b3c5d;
}
.navbar-myaccount-left {
  overflow: hidden;
  position: absolute;
  left: 0px;
  bottom: 0px;
  top: 50px;
  width: 250px;
  background-color: #e8e8e8;
  transition: width 0.3s ease-in-out;
}
.navbar-myaccount-left h4 {
  font-weight: normal;
}
.navbar-myaccount-left .active {
  background: #f8f8f8;
  padding: 20px;
  margin: -20px;
}
.nav-tabs.nav-wizard {
  border: none;
}
.nav-tabs.nav-wizard li a,
.nav-tabs.nav-wizard li a:focus,
.nav-tabs.nav-wizard li a:hover {
  border: none;
  border-radius: 0px;
}
.nav-tabs.nav-wizard li:not(:last-child) a {
  margin-right: 3px;
}
.nav-tabs.nav-wizard li:first-child a:hover {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.nav-tabs.nav-wizard li:last-child a:hover {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.main-content-wrapper {
  padding-left: 300px;
}
.bottom-buffer-10 {
  padding-bottom: 10px;
}
.bottom-buffer-20 {
  padding-bottom: 20px;
}
.dl-horizontal dd {
  margin-bottom: 15px;
}
.card {
  padding: 20px;
  border-radius: 5px;
}
.card.card-solid {
  background: #ffffff;
}
input[type=checkbox] + label,
input[type=checkbox] + input + label {
  min-height: 20px;
  padding: 0px 25px 1px 3px;
  margin-bottom: 6px;
  font-weight: normal;
  cursor: pointer;
  transform: translateY(-2px);
}
.geocomplete-details {
  display: none;
}
form.non-editable {
  position: relative;
}
form.non-editable:after {
  content: " ";
  width: 100%;
  height: 100%;
  background: #000000;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  z-index: 99;
  border-radius: 4px;
}
.top-left-brand {
  position: absolute;
  width: 250px;
  overflow: hidden;
  background-color: #8CC63F;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #eeeeee;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  cursor: default;
  background-color: #428bca;
  border-color: #428bca;
}
.pagination > .disabled > span,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  cursor: not-allowed;
  background-color: #ffffff;
  border-color: #dddddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.pager {
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none;
}
.pager:before,
.pager:after {
  display: table;
  content: " ";
}
.pager:after {
  clear: both;
}
.pager:before,
.pager:after {
  display: table;
  content: " ";
}
.pager:after {
  clear: both;
}
.pager li {
  display: inline;
}
.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 15px;
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.pager .next > a,
.pager .next > span {
  float: right;
}
.pager .previous > a,
.pager .previous > span {
  float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #999999;
  cursor: not-allowed;
  background-color: #ffffff;
}
.bootstrap-tagsinput {
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 3px;
  color: #555;
  border-radius: 10px;
  line-height: 22px;
  cursor: text;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: auto;
  max-width: inherit;
}
.bootstrap-tagsinput.form-control input::-moz-placeholder {
  color: #777;
  opacity: 1;
}
.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.bootstrap-tagsinput {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput input {
  display: none;
}
.label-info {
  background-color: limegreen;
}
/*
https://github.com/bassjobsen/typeahead.js-bootstrap-css/blob/master/typeaheadjs.css
*/
span.twitter-typeahead .tt-menu,
span.twitter-typeahead .tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  min-width: 40%;
  display: none;
  float: left;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7;
}
.input-group.input-group-lg span.twitter-typeahead .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.input-group.input-group-sm span.twitter-typeahead .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
span.twitter-typeahead {
  width: 100%;
}
.input-group span.twitter-typeahead {
  display: block !important;
  height: 34px;
}
.input-group span.twitter-typeahead .tt-menu,
.input-group span.twitter-typeahead .tt-dropdown-menu {
  top: 32px !important;
}
.input-group span.twitter-typeahead:not(:first-child):not(:last-child) .form-control {
  border-radius: 0;
}
.input-group span.twitter-typeahead:first-child .form-control {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group span.twitter-typeahead:last-child .form-control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.input-group.input-group-sm span.twitter-typeahead {
  height: 30px;
}
.input-group.input-group-sm span.twitter-typeahead .tt-menu,
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
  top: 30px !important;
}
.input-group.input-group-lg span.twitter-typeahead {
  height: 46px;
}
.input-group.input-group-lg span.twitter-typeahead .tt-menu,
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
  top: 46px !important;
}
.tt-hint {
  min-width: 100%;
  background-color: #D3E7B5;
}
.tt-input {
  min-width: 100%;
  background-color: #D3E7B5;
}
.tt-input.form-control {
  border-color: white;
}
.tt-input.form-control:focus {
  border-color: white;
}
sup {
  vertical-align: sub;
  position: relative;
  top: -0.4em;
}
@-webkit-keyframes flashHighlight {
  0% {
    background-color: lightgreen;
  }
  25% {
    background-color: transparent;
  }
  50% {
    background-color: lightgreen;
  }
  75% {
    background-color: transparent;
  }
  100% {
    background-color: lightgreen;
  }
}
@-moz-keyframes flashHighlight {
  0% {
    background-color: lightgreen;
  }
  25% {
    background-color: transparent;
  }
  50% {
    background-color: lightgreen;
  }
  75% {
    background-color: transparent;
  }
  100% {
    background-color: lightgreen;
  }
}
@-o-keyframes flashHighlight {
  0% {
    background-color: lightgreen;
  }
  25% {
    background-color: transparent;
  }
  50% {
    background-color: lightgreen;
  }
  75% {
    background-color: transparent;
  }
  100% {
    background-color: lightgreen;
  }
}
@keyframes flashHighlight {
  0% {
    background-color: lightgreen;
  }
  25% {
    background-color: transparent;
  }
  50% {
    background-color: lightgreen;
  }
  75% {
    background-color: transparent;
  }
  100% {
    background-color: lightgreen;
  }
}
.new-message-hightlight {
  -webkit-animation: flashHighlight 2s ease-out;
  -moz-animation: flashHighlight 2s ease-out;
  -o-animation: flashHighlight 2s ease-out;
  animation: flashHighlight 2s ease-out;
  animation-fill-mode: forwards;
}
.chatcontainer {
  height: 600px;
  width: 350px;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  background-color: lightgrey;
}
#draggable {
  z-index: 4000;
  padding: 0em;
}
.chattitle {
  height: 50px;
  width: 100%;
  text-align: left;
  font-size: large;
  padding: 10px;
  background-color: transparent;
}
.chatmenuicon {
  background-color: white;
  padding: 5px;
  float: right;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}
.chatcontent {
  height: 540px;
  width: 350px;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  background-color: lightgrey;
}
.chatmessages {
  height: 85%;
  width: 100%;
  bottom: 15%;
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  word-wrap: break-word;
  background-color: white;
}
.chattypingnotification {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 10%;
  padding: 1.5%;
  font-size: small;
  background-color: white;
}
.chatbar {
  padding: 5%;
  height: 10%;
  width: 100%;
  position: absolute;
  bottom: 0px;
  font-size: large;
}
.talk-bubble {
  margin: 2px;
  display: inline-block;
  position: relative;
  left: 20px;
  width: 70%;
  height: auto;
  background-color: lightsteelblue;
}
.round {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}
.tri-right.right-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 50%;
  bottom: auto;
  border: 12px solid;
  border-color: lightsteelblue transparent transparent lightsteelblue;
}
.tri-left.left-in:after {
  content: ' ';
  position: absolute;
  width: 0px;
  height: 0px;
  left: -20px;
  right: auto;
  top: 50%;
  bottom: auto;
  border: 12px solid;
  border-color: lightsteelblue lightsteelblue transparent transparent;
}
.leftchatprofilepic {
  width: 50px;
  height: 50px;
  left: -5px;
  bottom: 50px;
  position: relative;
}
.rightchatprofilepic {
  width: 50px;
  height: 50px;
  left: 45px;
  bottom: 50px;
  position: relative;
}
/* talk bubble contents */
.talktext {
  padding: 15px;
  text-align: left;
  line-height: 1.5em;
  font-size: x-large;
}
.notificationgrayout {
  opacity: 0.6;
  /* Real browsers */
  /*filter: alpha(opacity = 60); /* MSIE */
}
.dropdown-menu.notification {
  background-color: white;
  width: 220px;
  padding: 4px;
}
.notificationcontainer {
  width: 210px;
  padding: 3px;
  height: 50px;
  border-style: solid;
  border-width: 1px;
}
.notificationbody {
  width: 160px;
  padding: 10px;
  height: 50px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  float: left;
}
.notificationclose {
  background-color: lightsteelblue;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  float: right;
  border-style: solid;
  border-width: 3px;
}
html,
body {
  height: 100%;
}
.search-map-container {
  overflow: hidden;
  position: absolute;
  left: 250px;
  right: 250px;
  bottom: 0px;
  top: 50px;
}
#searchmap {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}
.search-results-container {
  overflow: hidden;
  position: absolute;
  width: 250px;
  right: 0px;
  bottom: 0px;
  top: 50px;
}
.search-results-header {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}
#search-results-content {
  position: absolute;
  top: 150px;
  right: 0px;
  bottom: 0px;
  z-index: 99;
  background-color: white;
  opacity: 1;
  width: 250px;
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}
.search-results-p {
  margin: 0px;
  padding: 0px;
}
.search-match-count-p {
  margin-top: 15px;
  margin-bottom: 0px;
  padding: 0px;
  font-size: 20px;
}
.search-separator-hr {
  align-content: center;
  width: 95%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.search-filter-icon {
  color: darkseagreen;
  margin: 5px;
  right: 10px;
}
.shortlist-container {
  height: 100%;
  vertical-align: central;
}
.filters-container {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 99;
  background-color: white;
  opacity: 1;
  max-width: 250px;
  min-width: 250px;
  max-height: 650px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px lightgrey;
  overflow-y: auto;
  overflow-x: hidden;
}
.category-tag-container {
  background-color: lightgrey;
  width: 100%;
  height: 0%;
}
.category-tabs {
  padding: 2px;
  margin: 2px;
}
.search-bar-container {
  position: absolute;
  left: 270px;
  right: 260px;
  top: 7px;
}
.search-bar-container input {
  min-width: 250px;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}
.search-bar-container input {
  text-indent: 20px;
}
.search-bar-container .fa-search {
  position: absolute;
  left: 10px;
  top: 8px;
  z-index: 10000;
}
.search-rating-star {
  color: #9CCD5A;
}
.search-category-separator-hr {
  align-content: center;
  width: 100%;
  margin-top: 1px;
  margin-bottom: 0px;
}
.navbar-fixed-top {
  background-color: #A3D865;
  border-color: #A3D865;
}
.navbar-inverse .navbar-brand {
  color: black;
}
.navbar-inverse .navbar-brand:hover {
  color: black;
}
.navbar-inverse .navbar-nav > li > a {
  color: white;
}
.navbar-inverse .navbar-nav > .open > a {
  background-color: #8CC63F;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background-color: #8CC63F;
}
.navbar-inverse .navbar-nav > .li > a:hover {
  background-color: #8CC63F;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #8CC63F;
}