﻿@model MyAbilityFirst.Domain.CareWorkerDetailsViewModel

@for (int index = 0; index < Model.EmploymentHistories.Count(); index++)
{
	<div>
		@Html.HiddenFor(model => model.EmploymentHistories[index].ID)
		@Html.HiddenFor(model => model.EmploymentHistories[index].CareWorkerID)
		<div class="form-group">
			@Html.LabelFor(model => model.EmploymentHistories[index].CompanyName, htmlAttributes: new { @class = "control-label col-md-3" })
			<div class="col-md-9">
			@Html.EditorFor(model => model.EmploymentHistories[index].CompanyName, new { htmlAttributes = new { @class = "control-label" } })
			@Html.ValidationMessageFor(model => model.EmploymentHistories[index].CompanyName, "", new { @class = "text-danger" })
			@Html.HiddenFor(model => model.EmploymentHistories[index].CompanyName)
		</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.EmploymentHistories[index].PositionTitle, htmlAttributes: new { @class = "control-label col-md-3" })
			<div class="col-md-9">
			@Html.EditorFor(model => model.EmploymentHistories[index].PositionTitle, new { htmlAttributes = new { @class = "control-label" } })
			@Html.ValidationMessageFor(model => model.EmploymentHistories[index].PositionTitle, "", new { @class = "text-danger" })
			@Html.HiddenFor(model => model.EmploymentHistories[index].PositionTitle)
		</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.EmploymentHistories[index].StartMonth, htmlAttributes: new { @class = "control-label col-md-3" })
			<div class="col-md-9">
			@Html.EditorFor(model => model.EmploymentHistories[index].StartMonth, new { htmlAttributes = new { @class = "form-control datepicker" } })
			@Html.ValidationMessageFor(model => model.EmploymentHistories[index].StartMonth, "", new { @class = "text-danger" })
			@Html.HiddenFor(model => model.EmploymentHistories[index].StartMonth)
		</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.EmploymentHistories[index].EndMonth, htmlAttributes: new { @class = "control-label col-md-3" })
			<div class="col-md-9">
			@Html.EditorFor(model => model.EmploymentHistories[index].EndMonth, new { htmlAttributes = new { @class = "form-control datepicker" } })
			@Html.ValidationMessageFor(model => model.EmploymentHistories[index].EndMonth, "", new { @class = "text-danger" })
			@Html.HiddenFor(model => model.EmploymentHistories[index].EndMonth)
		</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.EmploymentHistories[index].Description, htmlAttributes: new { @class = "control-label col-md-3" })
			<div class="col-md-9">
			@Html.TextAreaFor(model => model.EmploymentHistories[index].Description, htmlAttributes: new { @class = "form-control", @Rows = 4 })
			@Html.ValidationMessageFor(model => model.EmploymentHistories[index].Description, "", new { @class = "text-danger" })
			@Html.HiddenFor(model => model.EmploymentHistories[index].Description)
		</div>
	</div>
	</div>
}
<div id="div-new-employment-history">
	<div class="col-md-12">
		<button id="btn-add-employment-history" type="button" class="btn btn-default"
						onclick="AJAXPostReplace(
				'@(Url.Action("NewEmploymentHistory", "CareWorker", null))',
				{EmploymentHistories: @Json.Encode(Model.EmploymentHistories)},
				'#btn-add-employment-history',
				'#div-new-employment-history',
				[]
				)">
			<i class="glyphicon glyphicon-plus"></i> Add Employment History
		</button>
	</div>
</div>
