﻿@using MvcCheckBoxList.Model
@model MyAbilityFirst.Domain.CareWorkerDetailsViewModel

<div class="navbar-myaccount-left">
	@Html.Action("_MyAccountSidebar", "MyAccount")
</div>

<div class="main-content-wrapper">
	<div class="row">
		<div class="col-md-12">
			@using (Html.BeginForm())
			{
			@Html.AntiForgeryToken()
				@Html.ValidationSummary(true, "", new { @class = "text-danger" })

				<h1>Profile</h1>

				<div class="card card-solid form-horizontal">
					<h3>Personal details</h3>
					<hr>

					<div class='input-group'>
					<label for="profilephoto-upload-input">
					<span class="fa fa-plus"></span>
					</label>
					<form enctype="multipart/form-data">
						<input type="file" size="400" id="profilephoto-upload-input" style="display: none;">
					</form>
					<div id="ImageUploadContainer"></div>
					</div>


					<div class="form-group">
						@Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(model => model.DoB, htmlAttributes: new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							<div class='input-group date datetimepicker'>
								@Html.EditorFor(model => model.DoB, new { htmlAttributes = new { @class = "form-control", data_date_format = "DD MMM YYYY", placeholder = "Please enter your birthday" } })
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
							@Html.ValidationMessageFor(model => model.DoB, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.DropDownListFor(model => model.GenderID, Model.GenderDropDownList, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.GenderID, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							<div class="geocomplete-container">
								@Html.TextBoxFor(model => model.Address.FullAddress,
					new { @class = "form-control geocomplete-address", @id = "resientialId", @placeholder = "street no. street, suburb, state, postcode, country" })
								@Html.ValidationMessageFor(model => model.Address.FullAddress, "", new { @class = "text-danger", @id = "resientialValidation", @required = true })
								<div class="geocomplete-details resiential">
									@Html.TextBoxFor(model => model.Address.Suburb, new { @name = "profileSuburb", @data_geo = "locality", @value = "" })
									@Html.TextBoxFor(model => model.Address.State, new { @name = "profileState", @data_geo = "administrative_area_level_1", @value = "" })
									@Html.TextBoxFor(model => model.Address.Postcode, new { @name = "profilePostcode", @data_geo = "postal_code", @value = "" })
									@Html.TextBoxFor(model => model.Address.Latitude, new { @name = "profileLatitude", @data_geo = "lat", @value = "" })
									@Html.TextBoxFor(model => model.Address.Longitude, new { @name = "profileLongitude", @data_geo = "lng", @value = "" })
								</div>
							</div>
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.FirstLanguage, htmlAttributes: new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.DropDownListFor(model => model.FirstLanguageID, Model.LanguageDropDownList, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.FirstLanguageID, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.SecondLanguage, htmlAttributes: new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.DropDownListFor(model => model.SecondLanguageID, Model.LanguageDropDownList, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.SecondLanguageID, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Culture, htmlAttributes: new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.DropDownListFor(model => model.CultureID, Model.CultureDropDownList, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.CultureID, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Religion, htmlAttributes: new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.DropDownListFor(model => model.ReligionID, Model.ReligionDropDownList, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.ReligionID, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Personality, htmlAttributes: new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.DropDownListFor(model => model.PersonalityID, Model.PersonalityDropDownList, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.PersonalityID, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						@Html.Label("Interests", htmlAttributes: new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.CheckBoxListFor(
									model => model.PostedSubCategoryIDs,
									model => model.InterestList,
									item => item.ID,
									item => item.Name,
									model => model.PreviousInterestList,
									Position.Vertical)
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.OrganisationID, htmlAttributes: new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.DropDownListFor(model => model.OrganisationID, Model.OrganisationDropDownList, " ", new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.OrganisationID, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.StartingDate, htmlAttributes: new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							<div class='input-group date datetimepicker'>
								@Html.EditorFor(model => model.StartingDate, new { htmlAttributes = new { @class = "form-control", data_date_format = "DD MMM YYYY", placeholder = "Commenced providing services with the orgnisation" } })
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
							@Html.ValidationMessageFor(model => model.StartingDate, "", new { @class = "text-danger" })
						</div>
					</div>

					<h3>Service and qualifications</h3>
					<hr>

					<div class="form-group">
						@Html.LabelFor(model => model.LocationCoverageRadius, htmlAttributes: new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.EditorFor(model => model.LocationCoverageRadius, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.LocationCoverageRadius, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						@Html.Label("Qualifications", htmlAttributes: new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.CheckBoxListFor(
								model => model.PostedSubCategoryIDs,
								model => model.QualificationTypeList,
								item => item.ID,
								item => item.Name,
								model => model.PreviousQualificationTypeList,
								Position.Horizontal)
						</div>
					</div>
					<div class="form-group" id="Nursing-Qualifications">
						@Html.Label("Nursing Qualifications", htmlAttributes: new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.CheckBoxListFor(
								model => model.PostedSubCategoryIDs,
								model => model.NursingQualificationsList,
								item => item.ID,
								item => item.Name,
								model => model.PreviousNursingQualificationsList,
								Position.Vertical)
						</div>
					</div>
					<div class="form-group" id="Personal-Care-Qualifications">
						@Html.Label("Personal Care Qualifications", htmlAttributes: new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.CheckBoxListFor(
								model => model.PostedSubCategoryIDs,
								model => model.PersonalCareQualificationsList,
								item => item.ID,
								item => item.Name,
								model => model.PreviousPersonalCareQualificationsList,
								Position.Vertical)
						</div>
					</div>
					<div class="form-group" id="Other-Carer-Qualifications">
						@Html.Label("Other Carer Qualifications", htmlAttributes: new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.CheckBoxListFor(
								model => model.PostedSubCategoryIDs,
								model => model.OtherQualificationsList,
								item => item.ID,
								item => item.Name,
								model => model.PreviousOtherQualificationsList,
								Position.Vertical)
						</div>
					</div>
					<div class="form-group">
						@Html.Label("Background Checks", htmlAttributes: new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.CheckBoxListFor(
								model => model.PostedSubCategoryIDs,
								model => model.VerificationChecksList,
								item => item.ID,
								item => item.Name,
								model => model.PreviousVerificationChecksList,
								Position.Vertical)
						</div>
					</div>

					<h3>Experiences</h3>
					<hr>
					<div class="form-group">
						@Html.Label("Disability Care", htmlAttributes: new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.CheckBoxListFor(
								model => model.PostedSubCategoryIDs,
								model => model.DisabilityCareExperienceList,
								item => item.ID,
								item => item.Name,
								model => model.PreviousDisabilityCareExperienceList,
								Position.Vertical)
						</div>
					</div>
					<div class="form-group">
						@Html.Label("Mental Health Care", htmlAttributes: new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.CheckBoxListFor(
								model => model.PostedSubCategoryIDs,
								model => model.MentalHealthCareExperienceList,
								item => item.ID,
								item => item.Name,
								model => model.PreviousMentalHealthCareExperienceList,
								Position.Vertical)
						</div>
					</div>
					<div class="form-group">
						@Html.Label("Aged Care", htmlAttributes: new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.CheckBoxListFor(
								model => model.PostedSubCategoryIDs,
								model => model.AgedCareExperienceList,
								item => item.ID,
								item => item.Name,
								model => model.PreviousAgedCareExperienceList,
								Position.Vertical)
						</div>
					</div>
					<div class="form-group">
						@Html.Label("Chronic Medical Care", htmlAttributes: new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.CheckBoxListFor(
								model => model.PostedSubCategoryIDs,
								model => model.ChronicMedicalConditionsCareExperienceList,
								item => item.ID,
								item => item.Name,
								model => model.PreviousChronicMedicalConditionsCareExperienceList,
								Position.Vertical)
						</div>
					</div>

					<h3>Client preference</h3>
					<hr>
					<div class="form-group">
						@Html.LabelFor(model => model.GenderPreference, htmlAttributes: new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.DropDownListFor(model => model.GenderPreferenceID, Model.GenderDropDownList, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.GenderPreferenceID, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.TextAreaFor(model => model.Description, htmlAttributes: new { @class = "form-control", @Rows = 8 })
							@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						@Html.Label("Other Preferences", htmlAttributes: new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.CheckBoxListFor(
								model => model.PostedSubCategoryIDs,
								model => model.OtherPreferenceList,
								item => item.ID,
								item => item.Name,
								model => model.PreviousOtherPreferenceList,
								Position.Vertical)
						</div>
					</div>

					<h3>Availability</h3>
					<hr>
					@Html.Partial("_Availabilities", Model)

					<h3>How did you hear about us?</h3>
					<hr />
					<div class="form-group">
						@Html.Label("How did you hear about us?", htmlAttributes: new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.CheckBoxListFor(
								model => model.PostedSubCategoryIDs,
								model => model.MarketingInfoList,
								item => item.ID,
								item => item.Name,
								model => model.PreviousMarketingInfoList,
								Position.Vertical)
						</div>
					</div>

					<h3>Employment history</h3>
					<hr>
					<div class="form-group">
						@Html.Partial("_EmploymentHistories", Model)
					</div>

					<h3>Formal education</h3>
					<hr>
					<div class="form-group">
						@Html.Partial("_EmploymentFormalEducations", Model)
					</div>

					<h3>References</h3>
					<hr>
					<div class="form-group">
						@Html.Partial("_EmploymentReferences", Model)
					</div>

					<h3>Achievements</h3>
					<hr>
					<div class="form-group">
						@Html.Partial("_EmploymentAchievements", Model)
					</div>

					<hr />
					<div class='input-group'>
						<input type="submit" value="Save" class="btn btn-primary" />
						@Html.ActionLink("Cancel", "MyAccount", "CareWorker", null, new { @class = "btn btn-default" })
					</div>
				</div>
			}
		</div>
	</div>
</div>