﻿@model MyAbilityFirst.Domain.ReplacementViewModel

<div class="navbar-left">
	@Html.Action("_MyAccountSidebar", "MyAccount")
</div>

<div class="main-content-wrapper">
	<div class="row">
		<div class="col-md-12">
			@using (Html.BeginForm())
			{
			@Html.AntiForgeryToken()
				@Html.ValidationSummary(true, "", new { @class = "text-danger" })
				@Html.HiddenFor(model => model.BookingID)
				@Html.HiddenFor(model => model.ClientID)
				@Html.HiddenFor(model => model.CareWorkerID)
				<div class="card card-solid form-horizontal">
					<h3>Replacement Request</h3>
					<hr>
					<div class="form-group">
						@Html.LabelFor(model => model.BookingID, htmlAttributes: new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							<h5>
								<span class="label label-info">	#	@Html.DisplayFor(model => model.BookingID, new { htmlAttributes = new { @class = "form-control" } })</span>
							</h5>
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.CommentByCareWorker, htmlAttributes: new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.TextAreaFor(model => model.CommentByCareWorker, new { @class = "form-control", @rows = "8", @placeholder = "Replace by other carer for this Booking, write reason here ..", @required = "required" })
							@Html.ValidationMessageFor(model => model.CommentByCareWorker, "", new { @class = "text-danger" })
						</div>
					</div>

					<hr />
					<div>
						@Html.ActionLink("Cancel", "Booking", "CareWorker", new { bookingId = Model.BookingID }, new { @class = "btn btn-default" })
						<input type="submit" value="Send Replacement Request" class="btn btn-warning" title="Request replace by other carer for this booking" />
					</div>
				</div>
			}
		</div>
	</div>
</div>
